/* Google font styling to whole page */
* {
    font-family: 'Inconsolata', monospace;
}
/* Custom styling for each day <div> of te 5-day forecast information */
.forecast-day {
    background-color: #f0f8ff; /* Very light green color background */
    border: 1px solid #000; /* Black border with 1px width */
    padding: 10px; /* Adding space around content */
}